<footer class="row-group">
  <div class="container">
    <div class="row">
      <div class="col-sm-11 col-xs-11 col-sm-offset-1 col-xs-offset-1 address">
        <div class="row">
          <small class="col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10">Franz-Schmidt Strasse 8-10 -- 13125 Berlin (Im Bucher Bürgerhaus)</small>
          <a href="anfahrt.html" class="col-sm-offset-1 col-sm-2 col-md-offset-2 col-md-2"><small>Kontakt</small></a>
          <a href="anfahrt.html" class="col-sm-2 col-md-2"><small>Anfahrt</small></a>
          <a href="anfahrt.html" class="col-sm-3 col-md-2"><small>Öffnungszeiten</small></a>
          <a href="impressum.html" class="col-sm-2 col-md-2"><small>Impressum</small></a>
        </div>
      </div>
    </div>
  </div>
</footer>